
.detailsContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 40px;
}

.dishImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 400px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 16px;
}

.dishImage {
  display: block;
  width: 100%;
}

.aboutRecipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.publisher {
  color: cyan;
  font-weight: 500;
}

.title {
  margin-top: 10px;
  color: black;
  font-weight: 700;
}

.addToFavorite {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
}

.ingredients {
  margin-top: 40px;
 }
 
 .ingredienysTitle {
   font-weight: 600;
   color: #000;
   text-transform: uppercase;
 }